<div class="block cont-<%= message.user.id %>">
  <div class="box message-box msg-<%= message.user.id %>">
      <h6 class="title is-6"> <%= message.user.username %> </h6>
    <%= message.content %>
  </div>
</div>